<div class="center hero-unit">
  <h1>rbTrack</h1>
  <h2>Currently tracking 0 issues in <%= Project.count %> projects.</h2>
  <% unless signed_in? %>
    <%= link_to 'Sign up', signup_path, class: 'btn btn-large btn-primary' %>
  <% end %>
</div>
