<span class="label-badge <%= label_class_from status %>">
  <% if tooltip %>
    <a href="#" title="<%= Status::to_string status %>"><i class="<%= icon_class_from status %>"></i></a>
  <% else %>
    <i class="<%= icon_class_from status %>"></i>
  <% end %>
</span>