@import '_defines.scss';

/* comments */

.comments {
  margin-top: 10px;
  .comments-header {
    font-size: 1.4em;
    text-align: right;
    border-bottom: 1px solid $grayLight;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .btn {
    float: right;
  }
  .new-comment-form {
    margin-top: 5px;
  }
  .comment {
    background-color: #F5F5F5;
    margin: 0 0 5px;
    border: 1px solid $tableBorder;
    -moz-border-radius: 0px 4px 4px 4px;
    border-radius: 0px 4px 4px 4px;
    .header {
      .gravatar {
        margin-right: 5px;
      } 
      border-bottom: 1px solid $tableBorder;
    }
    .timestamp {
      display: block;
      color: $grayLight;
    }
    p {
      margin: 2px 5px;
    }
  }
}
