@import '_defines.scss';

/* comments */

.comments {
  margin-top: 10px;
  .comments-header {
    font-size: 1.4em;
    text-align: right;
    border-bottom: 1px solid $grayLight;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .btn {
    float: right;
  }
  .new-comment-form {
    margin-top: 5px;
  }
}
