@import '_defines.scss';

/* issue page */

h1 #id {
  color: $grayLight;
}

#issue-actions {
  div {
    margin-bottom: 5px;
  }
}

/* issues-list style */

.new-issue {
  float: right;
  margin-top: 3px;
}

.issues-list {
  .nav {
    margin-bottom: 9px;
  }
  ul.list {
    list-style: none;
    margin-left: 0;
    li {
      height: 18px;
      .id {
        color: $grayLight;
        float: left;
        width: 4em;
        text-align: right;
        margin-right: 0.35em;
      }
    }
  }
}