@import '_defines.scss';

/* issue page */

#issues-list {
  ul {
    margin: 0;
    list-style: none;
    li {
      .id {
        color: $grayLight;
        float: left;
        width: 4em;
        text-align: right;
        margin-right: 0.35em;
      }
    }
  }
}