@import '_defines.scss';

/* issue page */

h1 .id {
  color: $grayLight;

}

/* issues-list style */

#issues-list {
  ul {
    border-top: 1px solid $grayLight;
    border-bottom: 1px solid $grayLight;
    margin: 0;
    list-style: none;
    li {
      .id {
        color: $grayLight;
        float: left;
        width: 4em;
        text-align: right;
        margin-right: 0.35em;
      }
    }
  }
}