@import "_defines.scss";

/* project page */

#team {
  ul {
    margin: 0;
    list-style: none;
    li {
      line-height: 32px;
      font-size: 1.5em;
      vertical-align: center;
      &.owner {
        a {
          color: $orange;
          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}

/* index */

.projects-list {
  border-top: 1px solid $grayLight;
  border-bottom: 1px solid $grayLight;
  margin: 0;
  list-style: none;
  li {
    border-bottom: 1px solid $grayLighter;
    padding: 5px 0;
    &:last-child {
      border-bottom: none;
    }
  }
}