@import "_defines.scss";

/* project page */

#team {
  ul {
    margin: 0 0 5px;
    list-style: none;
    border-bottom: 1px solid $tableBorder;
    li {
      margin: 5px 0;
      line-height: 32px;
      font-size: 1.5em;
      vertical-align: center;
      &.owner {
        a {
          color: $orange;
          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}

#invite-user-modal {
  $controls-offset: 50px;
  form {
    margin: 18px 0 !important;
  }
  .control-label {
    width: $controls-offset;
    padding-top: 10px;
  }
  .controls {
    margin-left: ($controls-offset + 5px);
  }
}

/* index */

.projects-list {
  border-top: 1px solid $grayLight;
  border-bottom: 1px solid $grayLight;
  margin: 0;
  list-style: none;
  li {
    border-bottom: 1px solid $grayLighter;
    padding: 5px 0;
    &:last-child {
      border-bottom: none;
    }
  }
}