@import 'bootstrap'; //TODO: bootstrap includes as a whole here and in the custom.css.scss, remove this import

/* sign up form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box-sizing(border-box);
}

#error-explanation {
  color: red;
  ul {
    list-style: none;
    margin: 0 0 10px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* user page */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #999;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.8em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

#projects-list {
  h2 { float: left; }
  .btn { float: right; }
  div.list {
    clear: both;
    border-top: 1px solid $grayLight;
    border-bottom: 1px solid $grayLight;
    margin: 10px 0;
    ul {
      list-style: none;
      margin: 0;
      li {
        border-bottom: 1px solid $grayLighter;
        padding: 5px 0;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* users index */

.users {
  list-style: none;
  margin: 15px 0 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}