@import '_defines.scss';

/* user page */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #999;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.8em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

#user-projects {
  h2 { float: left; }
  .btn { float: right; }
  .new-project { margin-top: 3px; }
  .nav { margin-bottom: 9px; }
  margin-bottom: 20px;
  ul.list {
    margin-left:0;
    list-style: none;
    li {
      border-bottom: 1px solid $grayLighter;
      padding: 0 0 5px;
      margin: 5px 0 0;
      &:last-child {
        border-bottom: none;
      }
    }
    .invitation-action-link {
      float: none;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* users index */

.users {
  list-style: none;
  margin: 15px 0 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $tableBorder;
  }
}